/*  your css code here. If applicable */
/* h1{
	font-weight: bold;
	text-align:center;
}
.list{
	border:2px solid black;
	margin:15px;
	padding:10px;
	border-radius:10px;	
}
h3{
	font-weight: bold;
	text-align:center;
} */

